body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFF4D9;
    
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family:"Anton", sans-serif;
    font-weight: 800;
}
p{
    margin: 0;
    font-family: "Fira Sans", sans-serif;
}
        .section1 {
            background-image: url('./images/vecteezy_ai-generated-water-park-bright-colorful-slides-water-park_38778527.jpg'); /* URL Example, replace with actual URL */
            background-size: cover;
            background-position: center;
        }
        .overlay {
            background: rgba(0, 0, 0, 0.5);
        }
        .Packages{
            padding-top: 150px;
            padding-bottom: 100px;
        }

        .popular{
            padding-top: 130px;
         
        }
